.skill-container{
  
   /* background-image:url(../../../../../Downloads/galaxy.avif); */

   
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center; /* Centers the image */
  width: 100vw; /* Full viewport width */
  height: 540px;
  
width: 100vw;
   height:540px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.box2{
    text-align: center;

background: linear-gradient(135deg,  #722789, #7c438d, #7f7fc5);

color:#fff;
border-radius: 100px;
    height: 400px;
    width: 900px;

  
}
.skill{
    height: 120px;
    margin-top: 40px;
    /* background-color: rgb(74, 75, 75); */
    display: flex;
    justify-content: space-around;
    align-items:center; 
}



  .skill-item{
    /* background-color: #929191; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circular-progress-wrapper{
    /* background-color: #c8edbf; */
    position: relative;
     width: 80px;
    height: 80px;
  }

  .progress-text {
position: absolute;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 0.9rem;
    /* color: #fffdfd; */

  }
  .skill-name {
    margin-top: 0.5rem;
    font-weight: bold;
    /* background-color: #454343; */
  } 



  /* Tablet */
  @media (max-width: 1191px) and (min-width: 768px){


    .box2{
        text-align: center;
    
    background: linear-gradient(135deg,  #722789, #7c438d, #7f7fc5);
    
    color:#fff;
    border-radius: 100px;
        height: 350px;
        width: 670px;
h1{
    font-size: 1.8rem;
}
      
    }

   

    .skill-item{
        
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:medium;
      }
  }


  /* mobile  small*/
  @media (max-width: 430px) {

    .box2{
        text-align: center;
    
    background: linear-gradient(135deg,  #722789, #7c438d, #7f7fc5);
    
    color:#fff;
    border-radius: 100px;
        height: 350px;
        width: 360px;
h1{
    font-size: 1.3rem;
}
      
    }
    .skill-name {
        margin-top: 0.1rem;
        font-weight: bold;
      } 

      .skill{
        height: 90px;
        margin-top: 40px;
        /* background-color: rgb(74, 75, 75); */
        display: flex;
        justify-content: space-around;
        
    }

   .skill button {
   align-items: flex-start;
   }
  }




  @media (max-width: 768px) and (min-width: 430px){

    .box2{
        text-align: center;
    
    background: linear-gradient(135deg,  #722789, #7c438d, #7f7fc5);
    
    color:#fff;
    border-radius: 100px;
        height: 350px;
        width:auto;
        padding: 4px;
        margin: 20px;

h1{
    font-size: 1.5rem;
}
      
}

}